# Setup

In [15]:
# load libraries
import pandas as pd

In [4]:
# load data
df = pd.read_csv("data/census.csv")

# Inspect the data

In [5]:
# get overview
df.info

<bound method DataFrame.info of        age          workclass   fnlgt    education   education-num  \
0       39          State-gov   77516    Bachelors              13
1       50   Self-emp-not-inc   83311    Bachelors              13
2       38            Private  215646      HS-grad               9
3       53            Private  234721         11th               7
4       28            Private  338409    Bachelors              13
...    ...                ...     ...          ...             ...
32556   27            Private  257302   Assoc-acdm              12
32557   40            Private  154374      HS-grad               9
32558   58            Private  151910      HS-grad               9
32559   22            Private  201490      HS-grad               9
32560   52       Self-emp-inc  287927      HS-grad               9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex   capital-gain   capital-loss   hours-per-week  native-country  \
0         Male           2174              0               40   United-States
1         Male              0              0               13   United-States
2         Male              0              0               40   United-States
3         Male              0              0               40   United-States
4       Female              0              0               40            Cuba
...        ...            ...            ...              ...             ...
32556   Female              0              0               38   United-States
32557     Male              0              0               40   United-States
32558   Female              0              0               40   United-States
32559     Male              0              0               20   United-States
32560   Female          15024              0               40   United-States

       salary
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>

In [6]:
# check minimum values
df.min()

age                                 17
 workclass                           ?
 fnlgt                           12285
 education                        10th
 education-num                       1
 marital-status               Divorced
 occupation                          ?
 relationship                  Husband
 race               Amer-Indian-Eskimo
 sex                            Female
 capital-gain                        0
 capital-loss                        0
 hours-per-week                      1
 native-country                      ?
 salary                          <=50K
dtype: object

In [7]:
# check maximum values
df.max()

age                               90
 workclass               Without-pay
 fnlgt                       1484705
 education              Some-college
 education-num                    16
 marital-status              Widowed
 occupation         Transport-moving
 relationship                   Wife
 race                          White
 sex                            Male
 capital-gain                  99999
 capital-loss                   4356
 hours-per-week                   99
 native-country           Yugoslavia
 salary                         >50K
dtype: object

In [8]:
df.isnull().sum()

age                0
 workclass         0
 fnlgt             0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 salary            0
dtype: int64

In [13]:
# check unique values of the categorical variables
df['workclass'].unique()

KeyError: 'workclass'

In [12]:
df.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [14]:
df[' workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

--> Column values contain blanks

In [17]:
df[' education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [19]:
df[' occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [20]:
df[' marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [21]:
df[' relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [22]:
df[' race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [23]:
df[' sex'].unique()

array([' Male', ' Female'], dtype=object)

--> Column values contain blanks